/*
Theme Name: Pipeline Controls & Services
Theme URI: http://www.chadbartels.com
Author: Chad Bartels
Author URI: http://www.chadbartels.com
Description: Wordpress theme for Pipeline Controls & Services
Version: 1.0
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready

/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 *   4.1 - Header - Head
 *   4.2 - Header -Menu
 * 5.0 - Content
 *   5.1 - Content - Slider
 *   5.2 - Content - Main
 *   5.3 - Content - Sidebar
 * 6.0 - Footer
   * 6.1 - Footer - Columns
   * 6.2 - Footer - Logo
 * 7.0 - Fonts
 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Reset
 * ----------------------------------------------------------------------------
 */
BODY {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF;
}
A {text-decoration: none;}
A:HOVER {text-decoration: underline;}
IMG {border: none;}
LABEL {cursor: pointer;}
H1,H2,H3,H4,H5,H6,P,FIELDSET,FORM,UL,OL,LI,DL,DT,DD {
	padding: 0;
	margin: 0;	
	border: none;
	list-style: none;
}

/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}
.relax {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */
#page {
    margin: auto;
    overflow: hidden;
    text-align: left;
    width: 980px;
}

/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */
 header {
     position: relative;
     z-index: 2;
 } 

/**
 * 4.1 Header - Head
 * ----------------------------------------------------------------------------
 */
header #head {
    padding: 14px 0 17px;
}
header .logo {
    float: left;
    margin: 3px 0 0 20px;
}
header #phone {
    background: url("images/bg/usa-map.gif") 15px 27px no-repeat;
    border-left: 1px #ccc solid;
    float: right;
    padding: 20px 0 20px 95px;
    width: 265px;
}
header #phone P {
    color: #666;
    font-size: 16px;
    margin: 3px 0 0;
}
header #phone SPAN.phone {
    color: #6e5457;
    font-size: 24px;
}

/**
 * 4.2 Header - Menu
 * ----------------------------------------------------------------------------
 */
header #menu {
    background: #443a42;
    font-family: 'HelveticaNeueCondensedBold';
    height: 56px;
    text-align: center;
}
header #menu UL {
    font-size: 16px;
    font-weight: normal;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
header #menu UL LI {
    display: inline;
    margin: 0 27px;
}
header #menu UL LI A {color: #c7c5c7;}
header #menu UL LI:HOVER A, header #menu UL LI.current A {
    color: #fff;
    text-decoration: none;
}

/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */
#content H1 {
    color: #443a42;
    font-family: 'HelveticaNeueCondensedBold';
    font-size: 42px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 46px;
    margin: 0 0 15px;
    padding: 0;
    text-transform: uppercase;
}
#content H2 {
    color: #443a42;
    font-family: 'HelveticaNeueCondensedBold';
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
#content H3 {
    color: #443a42;
    font-family: 'HelveticaNeueCondensedBold';
    font-size: 22px;
    font-weight: normal;
    margin: 5px 0 25px;
    padding: 0;
    text-transform: uppercase;
}
#content H4 {
    color: #333;
    font-size: 18px;
    font-family: Tahoma, "Times New Roman";
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0 10px;
}
#content H5 {
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 15px 0 4px;
}
#content H6 {
    color: #333;
    font-size: 12px;
    margin: 0;
    padding: 15px 0 4px;
}
#content P {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 15px;
}
#content A {color: #00487f;}
#content A:HOVER {text-decoration: underline;}
#content UL, #content OL {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 15px;
}
#content TABLE {
    border: 0;
    border-spacing: 0px;
    width: 100%;
}
#content TABLE TD {vertical-align: top;}

/**
 * 5.1 Content - Slider
 * ----------------------------------------------------------------------------
 */
#content #slider {
    background: #ccc;
    min-height: 172px;
    position: relative;
}
#content #slider.home {min-height: 323px;}
#content #slider.loading {
    background: #ccc url("images/bg/ajax-loader.gif") center center no-repeat;
}
#content #slider .slide {
    left: 0px;
    min-height: 172px;
    position: relative;
    top: 0px;
    width: 100%;
}
#content #slider.home .slide {
    min-height: 323px;
    position: absolute;
}
#content #slider .slide IMG {display: block;}
#content #slider .slide .title {
    bottom: 25px;
    left: 24px;
    position: absolute;
}
#content #slider .slide .title H3 {
    color: #fff;
    font-family: 'HelveticaNeueCondensedBold';
    font-size: 46px;
    font-weight: normal;
    line-height: 44px;
    margin: 0;
    text-transform: uppercase;
}
#content #slider .slide .title H4 {
    color: #fff;
    font-family: 'HelveticaNeueCondensedBold';
    font-size: 28px;
    padding: 0;
    text-transform: uppercase;
}

/**
 * 5.2 Content - Main
 * ----------------------------------------------------------------------------
 */
#content #main {
    background: #efefef;
    margin: 20px 0 0;
    padding: 25px 23px;
}
#content #main.sub {background: url("images/bg/main.gif") -740px top repeat-y;}
#content #main.about {background: none; padding: 25px 0 25px 20px;}
#content #main.contact {background: #F7F7F7; padding: 25px 0 25px 20px;}
#content #main #text {
    float: left;
    width: 650px;
}
#content #main #thumbs {
    float: right;
    width: 221px;
}
#content #main #thumbs H3 {
    margin-left: -16px;
}
#content #main #thumbs P {
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0 20px;
}
#content #main #thumbs UL LI {
    background: #fff;
    margin: 0 0 10px;
    padding: 10px;
}
#content #main #thumbs UL LI IMG {display: block;}
#content #main #text .excerpt {padding: 5px 0 15px;}
#content #main #text .excerpt P {font-size: 16px;}
#content #main #text UL LI {color: #666; list-style: inside;}
#content #main #text UL LI UL {margin: 0 0 0 30px;}
#content #main #text UL LI UL LI {
    background: url("images/bg/li.gif") left 9px no-repeat;
    list-style: none;
    padding-left: 12px;
}
#content #main.about #text UL LI {
    font-size: 13px;
    list-style: none;
    margin-bottom: 5px;
}
#content #main.about #text UL LI A {text-decoration: underline;}
#content #main.about #text UL LI A:HOVER {text-decoration: none;}
#content #main .partners {padding: 20px 0 25px 5px;}
#content #main .partners IMG {margin: 0px 60px 10px 0;}
#content #addresses .column {
    float: left;
    margin: 0 20px 0 65px;
    padding: 0 0 0 28px;
    width: 180px;
}
#content #addresses .column.state-a {background: url("images/icons/state-a.gif") left top no-repeat;}
#content #addresses .column.state-b {background: url("images/icons/state-b.gif") left top no-repeat;}
#content #addresses .column.state-c {background: url("images/icons/state-c.gif") left top no-repeat;}
#content #addresses .column P {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;
}
#content #addresses .column P STRONG {font-size: 14px;}

/**
 * 5.3 Content - Sidebar
 * ----------------------------------------------------------------------------
 */
#content #sidebar {
    float: left;
    margin: 0 23px 0 0;
    width: 217px;
}
#content #sidebar UL {
    font-size: 14px;
    margin: 20px 0 0;
    padding: 0;
}
#content #sidebar UL LI {
    margin: 0 0 35px;
    padding: 0;
}
#content #sidebar UL LI A {color: #333;}
#content #sidebar A {text-decoration: none;}
#content #sidebar A:HOVER {text-decoration: underline;}
#content #sidebar .current A {font-weight: bold;}

/**
 * 6.0 Footer
 * ----------------------------------------------------------------------------
 */
footer {
    background: #e8e8e8;
    margin: 17px 0;
    padding: 0 0 20px;
}

/**
 * 6.1 Footer - Columns
 * ----------------------------------------------------------------------------
 */
footer .columns {
    display: inline;
    float: right;
    margin: 41px 22px 0 0;
    width: 710px;
} 
footer .columns UL {
    font-size: 14px;
    margin: 0 0 20px 5px;
    padding: 0;
}
footer .columns UL LI {
    display: inline;
    margin: 0 51px 0 0;
}
footer .columns UL LI:last-child {margin-right: 0px;}
footer .columns UL LI A {color: #666;}
footer .columns H5 {
    border-bottom: 1px #ccc solid;
    color: #666;
    font-size: 16px;
    font-weight: normal;
    font-family: "Times New Roman";
    line-height: 26px;
    margin: 0 0 15px;
    padding: 0 5px;
    text-transform: uppercase;
}
footer .columns .column {
    float: left;
    margin: 0 0 0 5px;
    width: 32%;
}
footer .columns .column P {
    color: #666;
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 6px;
}
footer .columns .column P STRONG, footer .columns .column P .tel {
    color: #333;
}
 
/**
 * 6.2 Footer - Logo
 * ----------------------------------------------------------------------------
 */
footer .logo {
    display: inline;
    float: left;
    margin: 25px 0 0 19px;
}

/**
 * 6.2 Footer - Logo
 * ----------------------------------------------------------------------------
 */
@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('fonts/helveticaneuecondensedbold.eot');
    src: url('fonts/helveticaneuecondensedbold.eot') format('embedded-opentype'),
         url('fonts/helveticaneuecondensedbold.woff') format('woff'),
         url('fonts/helveticaneuecondensedbold.ttf') format('truetype'),
         url('fonts/helveticaneuecondensedbold.svg#HelveticaNeueCondensedBold') format('svg');
}
